<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.autobots.cordova.camera"
  version="0.0.1">
  <name>Capture & crop picture from camera for android and ios</name>
  <description>
    A cordova plugin that provides the functionality to capture & crop picture from camera for android and ios.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/Camera.js" name="Camera">
    <clobbers target="autobots.camera" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Camera">
        <param name="android-package" value="com.autobots.Camera"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-feature android:name="android.hardware.camera" android:required="true"/>
    </config-file>

    <source-file src="src/android/com/autobots/Camera.java" target-dir="src/com/autobots"/>
  </platform>
</plugin>